<a href="https://colab.research.google.com/github/patriciagvas/Exercicios_Python/blob/main/Exerc%C3%ADcios_de_Revis%C3%A3o_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aqui estão alguns exercícios de revisão sobre strings em Python, focando em situações que podem ser úteis para análise de dados:

1. **Exercício 1:**
   Crie uma função que recebe uma lista de strings e retorna a string com o maior número de caracteres.

2. **Exercício 2:**
   Dada uma string de texto, conte quantas palavras existem nela (considere palavras separadas por espaços). Lembre-se de remover espaços extras antes de contar as palavras.

3. **Exercício 3:**
   Crie uma função que recebe uma string e retorna o número de vezes que uma palavra específica aparece na string. A busca deve ser case insensitive.

4. **Exercício 4:**
   Dada uma string com números e letras misturados, extraia todos os números da string e retorne como uma lista de inteiros.

5. **Exercício 5:**
   Escreva um programa que, dado um conjunto de strings, remova as palavras duplicadas (case insensitive) e retorne uma nova lista com as palavras únicas, mantendo a ordem original.

6. **Exercício 6:**
   Crie uma função que recebe uma lista de strings e retorna a média do comprimento das strings na lista.

7. **Exercício 7:**
   Dada uma string de dados financeiros (por exemplo, "R$ 1.234,56"), escreva uma função que remove os caracteres especiais (como "R$", ".", ",") e retorna o valor como um número decimal.

8. **Exercício 8:**
   Crie uma função que recebe uma string com datas no formato "DD/MM/AAAA" e converte para o formato "AAAA-MM-DD".

9. **Exercício 9:**
   Escreva uma função que recebe uma string e retorna a mesma string com todas as ocorrências de uma palavra específica substituídas por outra palavra. A busca deve ser feita de forma case insensitive.

10. **Exercício 10:**
   Dada uma lista de strings representando nomes de clientes, crie uma função que gere uma lista contendo os nomes formatados corretamente (com a primeira letra maiúscula e as demais minúsculas).

Esses exercícios são uma boa maneira de revisar manipulação de strings no Python, que é uma habilidade importante para análise de dados, especialmente ao lidar com textos e dados em formatos variados.

Exercício 1: Crie uma função que recebe uma lista de strings e retorna a string com o maior número de caracteres.

In [ ]:
lista_palavras = []

def analisar_strings(lista_palavras):

  tamanho_string = len(lista_palavras[0]) #armazena o tamanho da primeira string
  maior_string = lista_palavras[0] #armazena a primeira string

  #intera sobre o indice e a palavra da lista
  for string in lista_palavras:
    #verifica se o tamanho da string é maior do que o primeiro que foi setadp
    if len(string) > tamanho_string:
      tamanho_string= len(string) #atualiza o tamanho da string
      maior_string = string # se for maior a var recebe a string

  return maior_string, tamanho_string

while True:
    try:
      palavra = input('Digite a palavra para inserir na lista ou digite sair para encerrar: ').lower()

      if palavra == 'sair':
        print('Encerrando.')
        break

      if palavra.isalpha():
        lista_palavras.append(palavra)

    except ValueError:
      print('Digite uma palavra válida')

print(f'A lista de palavras: {lista_palavras}')

# Fazer o unpacking da tupla retornada pela função
maior_string, tamanho_string = analisar_strings(lista_palavras)

print(f'A maior palavra da lista é {maior_string} com {tamanho_string} caracteres.')

Digite a palavra para inserir na lista ou digite sair para encerrar: Banana
Digite a palavra para inserir na lista ou digite sair para encerrar: Feijoada
Digite a palavra para inserir na lista ou digite sair para encerrar: Bacalhau
Digite a palavra para inserir na lista ou digite sair para encerrar: Brigadeiro
Digite a palavra para inserir na lista ou digite sair para encerrar: Pão
Digite a palavra para inserir na lista ou digite sair para encerrar: sair
Encerrando.
A lista de palavras: ['banana', 'feijoada', 'bacalhau', 'brigadeiro', 'pão']
A maior palavra da lista é brigadeiro com 10 caracteres.

Exercício 2: Dada uma string de texto, conte quantas palavras existem nela (considere palavras separadas por espaços). Lembre-se de remover espaços extras antes de contar as palavras.

In [ ]:
texto = input('Digite o seu texto: ').lower()
texto_limpo = ''.join(char for char in texto if char.isalpha() or char.isspace())
palavras = texto_limpo.split()

frequencia = {}

for palavra in palavras:
  frequencia[palavra] = frequencia.get(palavra, 0) + 1

for palavra, contagem in frequencia.items():
  print(f'{palavra}: {contagem}')

Digite o seu texto: olá belo mundo mundo belo
olá: 1
belo: 2
mundo: 2

Exercício 3: Crie uma função que recebe uma string e retorna o número de vezes que uma palavra específica aparece na string. A busca deve ser case insensitive.

In [ ]:

def encontrar_palavra(palavras, palavra_buscada):
  contagem = 0
  for palavra in palavras:
    if palavra == palavra_buscada:
      contagem +=1

  return contagem

texto = input('Digite o seu texto: ').lower()
texto_limpo = ''.join(char for char in texto if char.isalpha() or char.isspace())
palavras = texto_limpo.split()
palavra_buscada = input('Digite a palavra para buscar: ').lower()

if not palavra_buscada: #verificar se foi digitada uma palavra para buscar
  print('Digite uma palavra para buscar no texto.')
else:
  contagem = encontrar_palavra(palavras,palavra_buscada)
  print(f'A palavra {palavra_buscada} aparece {contagem} vezes no texto.')

Digite o seu texto: olá belo mundo mundo belo mundo
Digite a palavra para buscar: mundo
A palavra mundo aparece 3 vezes no texto.

Exercício 4: Dada uma string com números e letras misturados, extraia todos os números da string e retorne como uma lista de inteiros.

In [ ]:
string = "4566spol563"
numeros = []

for char in string:
  if char.isdigit():
    numeros.append(char)

print(numeros)

['4', '5', '6', '6', '5', '6', '3']

In [ ]:
# em forma de função

def extrair_numeros():
  string = input("Digite o texto para remoção dos números: ")
  numeros = []
  for char in string:
    if char.isdigit():
      numeros.append(char)

  return numeros

extrair_numeros()

Digite o texto para remoção dos números: 252ujolopp237#8

['2', '5', '2', '2', '3', '7', '8']

Exercício 5: Escreva um programa que, dado um conjunto de strings, remova as palavras duplicadas (case insensitive) e retorne uma nova lista com as palavras únicas, mantendo a ordem original.

In [ ]:
texto = input('Digite o seu texto: ').lower()
texto_limpo = ''.join(char for char in texto if char.isalpha() or char.isspace())
palavras_texto = texto_limpo.split()
palavras_unicas = []

for palavra in palavras_texto:
  if palavra not in palavras_unicas:
    palavras_unicas.append(palavra)

print(palavras_unicas)
print(palavras_texto)

Digite o seu texto: olá belo mundo mundo belo mundo
['olá', 'belo', 'mundo']
['olá', 'belo', 'mundo', 'mundo', 'belo', 'mundo']

Exercício 6: Crie uma função que recebe uma lista de strings e retorna a média do comprimento das strings na lista.

In [ ]:
def media_tamanho_string():
  lista_strings = []
  soma = 0

  while True:
    string= input("Digite o item da lista, ou digite sair para encerrar o programa: ").lower()

    if string == 'sair':
      break

    else:
      lista_strings.append(string)

  if lista_strings: # Verificar se a lista não está vazia
    for elemento in lista_strings:
      soma += len(elemento)

  media = round(soma/len(lista_strings))

  return media, soma, lista_strings

media_tamanho_string()

Digite o item da lista, ou digite sair para encerrar o programa: Maçã
Digite o item da lista, ou digite sair para encerrar o programa: Limão
Digite o item da lista, ou digite sair para encerrar o programa: sair

(4, 9, ['maçã', 'limão'])

Exercício 7: Dada uma string de dados financeiros (por exemplo, "R 1.234,56"),escreva uma função que remove os caracteres especiais(como"R ", ".", ",") e retorna o valor como um número decimal.

In [ ]:
import re

def tratar_dados_financeiros():
  lista_dados_sujos = []
  lista_dados_limpos = []

  while True:
    dados = input('Digite os dados para tratamento ou digite sair para encerrar o programa: ')

    if dados != 'sair':
      lista_dados_sujos.append(dados)

    else:
      break

  if lista_dados_sujos:
    for dado in lista_dados_sujos:
      dado_limpo = re.sub(r'[^\d,.-]', '', dado) #remover todo caractere que não for um número
      dado_padronizado = dado_limpo.replace('.', '').replace(',', '.') #remover o . como separar de milhar e substituir a , por .


      try:
        dado_limpo_convertido = float(dado_padronizado) # Converter de str para float
        lista_dados_limpos.append(dado_limpo_convertido)

      except ValueError:
        print('Erro ao fazer a limpeza dos dados.')

  print('---- Dados sujos---:')
  print(f'{lista_dados_sujos}')
  print('---- Dados Limpos--- :')
  print(f'{lista_dados_limpos}')

  return

tratar_dados_financeiros()

Digite os dados para tratamento ou digite sair para encerrar o programa: R$$2.356,23
Digite os dados para tratamento ou digite sair para encerrar o programa: r$5.689,24
Digite os dados para tratamento ou digite sair para encerrar o programa: sair
---- Dados sujos---:
['R$$2.356,23', 'r$5.689,24']
---- Dados Limpos--- :
[2356.23, 5689.24]

Exercício 8: Crie uma função que recebe uma string com datas no formato "DD/MM/AAAA" e converte para o formato "AAAA-MM-DD".

In [ ]:
from datetime import datetime

def converter_data():
  data_inicial = input('Digite a data para conversão do formato: ')
  try:
    data_convertida = datetime.strptime(data_inicial, "%d/%m/%Y")
    data_formatada = data_convertida.strftime("%Y-%m-%d")

  except ValueError:
    print('Não foi possível fazer a conversão.')

  return data_formatada

conversao = converter_data()
print(f'A data convertida é: {conversao}')

Digite a data para conversão do formato: 23/05/2024
A data convertida é: 2024-05-23

Exercício 9: Escreva uma função que recebe uma string e retorna a mesma string com todas as ocorrências de uma palavra específica substituídas por outra palavra.

In [ ]:
def substituir_palavra():
  texto_original = input("Digite o texto: ").lower()
  palavra_substituir = input("Digite a palavra que deseja substituir no texto: ").lower()
  nova_palavra = input("Digite a palavra substituta:").lower()

  texto_substituido = texto_original.replace(palavra_substituir, nova_palavra)

  return texto_substituido

texto = substituir_palavra()
print(f'O texto substituido é: {texto}')

Digite o texto: olá belo mundo belo mundo
Digite a palavra que deseja substituir no texto: mundo
Digite a palavra substituta:planeta
O texto substituido é: olá belo planeta belo planeta

Exercício 10: Dada uma lista de strings representando nomes de clientes, crie uma função que gere uma lista contendo os nomes formatados corretamente (com a primeira letra maiúscula e as demais minúsculas).

In [ ]:
clientes = ['penelope de vries', 'kika fernandes', 'antonella Dos santos']
clientes_formatado = []
lista_preposicoes = ['De', 'Da', 'Do', 'Dos', 'Das']

for cliente in clientes:
  nome_formatado = cliente.title()

  for preposicao in lista_preposicoes:
    nome_formatado = nome_formatado.replace(f" {preposicao} ", f" {preposicao.lower()} ")

  clientes_formatado.append(nome_formatado)

print(clientes_formatado)

['Penelope de Vries', 'Kika Fernandes', 'Antonella dos Santos']

In [ ]:
def formatar_nome(clientes):
  clientes_formatado = []
  lista_preposicoes = ['De', 'Da', 'Do', 'Dos', 'Das']

  for cliente in clientes:
    nome_formatado = cliente.title()

    for preposicao in lista_preposicoes:
      nome_formatado = nome_formatado.replace(f" {preposicao} ", f" {preposicao.lower()} ")

    clientes_formatado.append(nome_formatado)

  return clientes_formatado

clientes = ['penelope de vries', 'kika fernandes', 'antonella Dos santos']
nomes_formatados = formatar_nome(clientes)
print(nomes_formatados)

['Penelope de Vries', 'Kika Fernandes', 'Antonella dos Santos']

**Exercícios de Listas e Dicionários**

1. Agrupando Dados por Categoria
Você tem uma lista de dicionários representando vendas realizadas em uma loja. Cada dicionário contém:

produto: nome do produto,
categoria: categoria do produto,
valor: valor da venda.
Tarefa:

Crie um dicionário que agrupe as vendas por categoria. A chave deve ser a categoria, e o valor deve ser uma lista com os produtos dessa categoria.

In [ ]:
vendas = [
    {"produto": "Notebook", "categoria": "Eletrônicos", "valor": 4500},
    {"produto": "Fone de Ouvido", "categoria": "Eletrônicos", "valor": 200},
    {"produto": "Mesa", "categoria": "Móveis", "valor": 700},
    {"produto": "Cadeira", "categoria": "Móveis", "valor": 300},
    {"produto": "Celular", "categoria": "Eletrônicos", "valor": 3500}
]

dict_categorias ={

}

for dicionario_venda in vendas:
  categoria = dicionario_venda["categoria"]
  produto = dicionario_venda["produto"]

  if categoria not in dict_categorias: #verificar se a chave já existe no dict
    dict_categorias[categoria] =[] #criar a chave caso ela não exista no dicionário

  dict_categorias[categoria].append(produto) #adicionar o produto à categoria

print(dict_categorias)

{'Eletrônicos': ['Notebook', 'Fone de Ouvido', 'Celular'], 'Móveis': ['Mesa', 'Cadeira']}

2. Calculando Métricas de Dados

Você tem um dicionário com os seguintes dados de vendas:

Tarefa:

Calcule o total de vendas para cada mês.
Encontre o mês com o maior volume de vendas.
Calcule a média de vendas por mês.

In [ ]:
vendas = {
    "Janeiro": [1200, 3500, 2000],
    "Fevereiro": [1000, 2500, 3000],
    "Março": [1300, 4000, 2200]
}

dict_relatorio_vendas ={

}

for chave, valor in vendas.items():
  total_vendas_mes = sum(valor)
  dict_relatorio_vendas[chave] = total_vendas_mes

for mes, total in dict_relatorio_vendas.items():
   print(f'O total de vendas do mês {mes} foi de {total}.')

#pegar o mês com o maior valor de vendas
mes_maior_valor_vendas = max(dict_relatorio_vendas, key = dict_relatorio_vendas.get)
#pegar o valor de vendas desse mês
maior_venda = dict_relatorio_vendas[mes_maior_valor_vendas] #usar o nome do mês obtido anteriormente para acessar o seu valor no dicionário

#cálculo da média de vendas por mês
media_vendas_mes = sum(dict_relatorio_vendas.values())/len(dict_relatorio_vendas)

print(f'O mês com maior total de vendas foi {mes_maior_valor_vendas} com {maior_venda}.')
print(f'A média de vendas por mês foi de {media_vendas_mes}')

O total de vendas do mês Janeiro foi de 6700.
O total de vendas do mês Fevereiro foi de 6500.
O total de vendas do mês Março foi de 7500.
O mês com maior total de vendas foi Março com 7500.
A média de vendas por mês foi de 6900.0

3. Filtrando Dados
Você tem uma lista de dicionários representando funcionários e seus salários:

Tarefa:

Filtre apenas os funcionários com o cargo de "Analista de Dados".

Calcule o total de salários para os analistas de dados.

Crie uma lista apenas com os nomes dos funcionários que ganham mais de R$ 6.000.

In [ ]:
funcionarios = [
    {"nome": "Ana", "cargo": "Analista de Dados", "salario": 5000},
    {"nome": "João", "cargo": "Cientista de Dados", "salario": 8000},
    {"nome": "Carlos", "cargo": "Engenheiro de Dados", "salario": 7000},
    {"nome": "Maria", "cargo": "Analista de Dados", "salario": 5500}
]

lista_analistas = []

for dicionario in funcionarios:
  if dicionario["cargo"] == "Analista de Dados":
    lista_analistas.append(dicionario)

print(f'Os analistas de dados são:{lista_analistas}')

total_salario = 0

for analista in lista_analistas:
  total_salario += analista["salario"] #acessar o valor do salario pela chave

print(f'O total de salário dos analistas é de R${total_salario}')

dict_funcionarios_salario_6000 = {}

for dicionario in funcionarios:
  if dicionario["salario"] > 6000:
    dict_funcionarios_salario_6000[dicionario["nome"]] = dicionario

print(f'Os funcionários que ganham mais que 6000 são: {dict_funcionarios_salario_6000}')

Os analistas de dados são:[{'nome': 'Ana', 'cargo': 'Analista de Dados', 'salario': 5000}, {'nome': 'Maria', 'cargo': 'Analista de Dados', 'salario': 5500}]
O total de salário dos analistas é de R$10500
Os funcionários que ganham mais que 6000 são: {'João': {'nome': 'João', 'cargo': 'Cientista de Dados', 'salario': 8000}, 'Carlos': {'nome': 'Carlos', 'cargo': 'Engenheiro de Dados', 'salario': 7000}}

4. Criando Relatórios

Você tem dados de um questionário em que cada chave é o nome da pessoa e o valor é uma lista com as respostas:

Tarefa:

Conte quantas vezes cada resposta ("Sim" ou "Não") apareceu no total.
Crie uma lista com os nomes das pessoas que responderam "Sim" mais de duas vezes.

In [ ]:
respostas = {
    "Alice": ["Sim", "Não", "Sim", "Sim"],
    "Bruno": ["Não", "Sim", "Não", "Não"],
    "Carla": ["Sim", "Sim", "Sim", "Não"]
}

cont_sim = 0
cont_nao = 0

for pessoa, resposta in respostas.items():
  for item in resposta:
    if item == 'Sim':
      cont_sim +=1
    else:
      cont_nao += 1

print(f'O total de respostas sim foi de {cont_sim} vezes.')
print(f'O total de respostas não foi de {cont_nao} vezes.')

O total de respostas sim foi de 7 vezes.
O total de respostas não foi de 5 vezes.

In [ ]:
respostas = {
    "Alice": ["Sim", "Não", "Sim", "Sim"],
    "Bruno": ["Não", "Sim", "Não", "Não"],
    "Carla": ["Sim", "Sim", "Sim", "Não"]
}

cont_sim = 0
cont_nao = 0

lista_pessoas_sim_2 = []

for pessoa, resposta in respostas.items():
  for item in resposta:
    if item == 'Sim':
      cont_sim +=1

  if cont_sim > 2:
    lista_pessoas_sim_2.append(pessoa)

print(f'As pessoas que responderam sim mais de 2 vezes foram: {lista_pessoas_sim_2}')

As pessoas que responderam sim mais de 2 vezes foram: ['Alice', 'Bruno', 'Carla']

5. Transformando Dados

Você tem um dicionário onde as chaves são produtos e os valores são seus preços:
Tarefa:

Converta este dicionário em uma lista de dicionários, onde cada dicionário tem as chaves produto e preco.
Ordene a lista de dicionários pelo preço, do maior para o menor.

In [ ]:
#resolução gpt

precos = {
    "Notebook": 4500,
    "Celular": 3000,
    "Fone de Ouvido": 200,
    "Cadeira": 300
}

# Converter o dicionário em uma lista de dicionários
lista_de_dicionarios = [{"produto": produto, "preco": preco} for produto, preco in precos.items()]

# Ordenar a lista de dicionários pelo preço, do maior para o menor
lista_ordenada = sorted(lista_de_dicionarios, key=lambda x: x["preco"], reverse=True)

print(lista_ordenada)

[{'produto': 'Notebook', 'preco': 4500}, {'produto': 'Celular', 'preco': 3000}, {'produto': 'Cadeira', 'preco': 300}, {'produto': 'Fone de Ouvido', 'preco': 200}]

6. Criando uma Tabela de Frequências

Você tem a seguinte lista de categorias:

Tarefa:

Crie um dicionário onde as chaves são as categorias únicas e os valores são a quantidade de vezes que cada categoria aparece.

In [ ]:
categorias = ["Eletrônicos", "Móveis", "Eletrônicos", "Móveis", "Eletrônicos", "Eletrodomésticos"]

dict_categorias_freq = {}

for valor in categorias:
  if valor not in dict_categorias_freq:
    dict_categorias_freq[valor] = 1
  else:
    dict_categorias_freq[valor] += 1

print(dict_categorias_freq)

{'Eletrônicos': 3, 'Móveis': 2, 'Eletrodomésticos': 1}

7. Intersecção de Dados

Você tem duas listas representando IDs de usuários:

Tarefa:

Encontre os IDs que estão em ambas as listas.
Encontre os IDs que estão em usuarios_compras mas não em usuarios_ativos.

In [ ]:
usuarios_ativos = [101, 102, 103, 104]
usuarios_compras = [103, 104, 105, 106]

IDs_ambas_listas = []
IDs_unicos_compras = []

for item in usuarios_compras:
  if item in usuarios_ativos:
    if item not in IDs_ambas_listas:
      IDs_ambas_listas.append(item)
  else:
    IDs_unicos_compras.append(item)

print(f'Os usuários resentes em usuarios_compras que não estão ativos são: {IDs_unicos_compras}')
print(f'Os usuários em ambas as listas são: {IDs_ambas_listas}')

Os usuários resentes em usuarios_compras que não estão ativos são: [105, 106]
Os usuários em ambas as listas são: [103, 104]

**Exercícios Listas, tuplas e dicionários**

Acessando Elementos

Crie uma tupla com 5 elementos. Acesse e imprima o primeiro e o último elemento da tupla.

In [ ]:
tupla_1 =("Penélope",2, "01/01/2024",4,5)

print(tupla_1[0])
print(tupla_1[-1])

Penélope
5

Desempacotamento de Tupla

Crie uma tupla com 3 valores e use o desempacotamento para atribuir cada valor a uma variável separada.

In [ ]:
dados_cliente1 = ("Júlia", "20/08/1996", 28)

nome, data_nascimento, idade = dados_cliente1
print(nome)
print(data_nascimento)
print(idade)

Júlia
20/08/1996
28

Conversão de Lista para Tupla

Crie uma lista e converta-a em uma tupla. Mostre o resultado.

In [ ]:
lista_dados_clientes = ['Penélope', '01/01/1994', 31, 'Feminino']

tupla_dados = tuple(lista_dados_clientes)
print(tupla_dados)

('Penélope', '01/01/1994', 31, 'Feminino')

Operações com Tuplas

Crie duas tuplas e concatene-as em uma única tupla.

In [ ]:
tupla_2 = ("Nina", "13/09/2013", 4, 3)
nova_tupla = tupla_1 + tupla_2
print(nova_tupla)

('Penélope', 2, '01/01/2024', 4, 5, 'Nina', '13/09/2013', 4, 3)

Ordenação de Lista

Crie uma lista de números inteiros. Ordene a lista em ordem crescente e depois em ordem decrescente.

In [ ]:
lista_numeros = [1,0,35,8]
lista_numeros.sort()
print(lista_numeros)

[0, 1, 8, 35]

Adição e Remoção de Elementos

Crie uma lista de frutas. Adicione 3 frutas novas à lista e remova uma fruta que já estava na lista.

In [ ]:
lista_frutas = ['Maçã', 'Uva', 'Laranja']
lista_frutas.append('Maracujá')
lista_frutas.remove('Uva')
print(lista_frutas)

['Maçã', 'Laranja', 'Maracujá']

Filtrando Números Pares

Dada uma lista de números inteiros, crie uma nova lista contendo apenas os números pares.

In [ ]:
num_inteiros = [1,2,85,96,24]
pares= []

for numero in num_inteiros:
  if numero%2 == 0:
    pares.append(numero)

print(pares)

[2, 96, 24]

Concatenação de Listas

Crie duas listas de nomes de pessoas e concatene-as em uma única lista.

In [ ]:
nomes_1 =['Nina', 'Verena', 'Julieta']
nomes_2 = ['Murphy', 'Juma', 'Penélope']

nomes_1.extend(nomes_2)
print(nomes_1)

['Nina', 'Verena', 'Julieta', 'Murphy', 'Juma', 'Penélope']

Contagem de Elementos

Crie uma lista de palavras e conte quantas vezes uma palavra específica aparece na lista.

In [ ]:
palavras_lista = ['Bolo', 'Maçã', 'Bolo', 'Bolo', 'Ovo', 'Chocolate']
palavra_especifica = 'Bolo'
cont = 0

for item in palavras_lista:
  if item == palavra_especifica:
    cont+=1

print(cont)

3

Criação e Acesso a Valores

Crie um dicionário com informações de um produto, como nome, preço e categoria. Acesse e imprima o nome e o preço.

In [ ]:
dict_produtos = {'Nome': 'Celular', 'Preço': 2500, 'Categoria': 'Eletrônicos'}

print(dict_produtos['Nome'])
print(dict_produtos['Preço'])

Celular
2500

Atualização de Valores

Atualize o preço de um produto em um dicionário e imprima o dicionário atualizado.

In [ ]:
dict_produtos['Preço'] = 3000
print(dict_produtos)

{'Nome': 'Celular', 'Preço': 3000, 'Categoria': 'Eletrônicos'}

In [ ]:
dict_produtos.update({'Preço': 3500})
print(dict_produtos)

{'Nome': 'Celular', 'Preço': 3500, 'Categoria': 'Eletrônicos'}

Iteração em Dicionário

Crie um dicionário com 3 pares chave-valor. Use um loop para iterar sobre as chaves, os valores e ambos.

In [ ]:
dict_exercicio3 ={
    'Arroz': 28.99,
    'Feijão': 10.95,
    'Açúcar': 27.65
}

for chave, valor in dict_exercicio3.items():
  print(f'O produto {chave} tem preço de R${valor}.')

O produto Arroz tem preço de R$28.99.
O produto Feijão tem preço de R$10.95.
O produto Açúcar tem preço de R$27.65.

Lista de Dicionários

Crie uma lista com 3 dicionários, onde cada dicionário representa um aluno com nome, idade e nota. Calcule a média das notas.

In [ ]:
lista_notas_alunos =[{'Nome': 'Nina', 'Idade': 15, 'Nota': 9.5}, {'Nome': 'Julieta', 'Idade': 16, 'Nota': 10}, {'Nome': 'Verena', 'Idade': 15, 'Nota': 8.5}]
soma_notas = 0

for dicionario in lista_notas_alunos:
  soma_notas += dicionario['Nota']

media_notas = round(soma_notas/len(lista_notas_alunos), 2)
print(media_notas)

9.33